# Trying out features

**Learning Objectives:**
  * Improve the accuracy of a model by adding new features with the appropriate representation

The data is based on 1990 census data from California. This data is at the city block level, so these features reflect the total number of rooms in that block, or the total number of people who live on that block, respectively.

## Set Up
In this first cell, we'll load the necessary libraries.

In [53]:
import math
import shutil
import numpy as np
import pandas as pd
import tensorflow as tf

print(tf.__version__)
tf.logging.set_verbosity(tf.logging.INFO)
#带有INFO级别的日志，tf.contrib.learn每100步骤自动输出training-loss metrics到stderr。
# tf.logging.set_verbosity(v) :  Sets the threshold for what messages will be logged.




pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

1.8.0

Next, we'll load our data set.

In [54]:
df = pd.read_csv("https://storage.googleapis.com/ml_universities/california_housing_train.csv", sep=",")

# "longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"
# 經度  緯度  房子年齡中位數  房間總數  睡房總數  人口  戶數  收入中位數  房價中位數

## Examine and split the data

It's a good idea to get to know your data a little bit before you work with it.

We'll print out a quick summary of a few useful statistics on each column.

This will include things like mean, standard deviation, max, min, and various quantiles.

In [55]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.3,34.2,15.0,5612.0,1283.0,1015.0,472.0,1.5,66900.0
1,-114.5,34.4,19.0,7650.0,1901.0,1129.0,463.0,1.8,80100.0
2,-114.6,33.7,17.0,720.0,174.0,333.0,117.0,1.7,85700.0
3,-114.6,33.6,14.0,1501.0,337.0,515.0,226.0,3.2,73400.0
4,-114.6,33.6,20.0,1454.0,326.0,624.0,262.0,1.9,65500.0

In [56]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207300.9
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,115983.8
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,14999.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119400.0
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180400.0
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265000.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500001.0

Now, split the data into two parts -- training and evaluation.

In [57]:
len(df)

17000

In [58]:
np.random.rand(len(df))

array([0.72441115, 0.08623133, 0.09243111, ..., 0.40385265, 0.16954994,
       0.63787128])

In [59]:
np.random.rand(len(df)) < 0.8

array([False,  True,  True, ...,  True,  True, False])

In [60]:
np.random.seed(seed=1) #makes result reproducible
msk = np.random.rand(len(df)) < 0.8
traindf = df[msk]
evaldf = df[~msk]

## Training and Evaluation

In this exercise, we'll be trying to predict **median_house_value** It will be our label (sometimes also called a target).

We'll modify the feature_cols and input function to represent the features you want to use.

We divide **total_rooms** by **households** to get **avg_rooms_per_house** which we excect to positively correlate with **median_house_value**. 

We also divide **population** by **total_rooms** to get **avg_persons_per_room** which we expect to negatively correlate with **median_house_value**.

In [61]:
def add_more_features(df):
  df['avg_rooms_per_house'] = df['total_rooms'] / df['households'] #expect positive correlation
  df['avg_persons_per_room'] = df['population'] / df['total_rooms'] #expect negative correlation
  return df

In [62]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.3,34.2,15.0,5612.0,1283.0,1015.0,472.0,1.5,66900.0
1,-114.5,34.4,19.0,7650.0,1901.0,1129.0,463.0,1.8,80100.0
2,-114.6,33.7,17.0,720.0,174.0,333.0,117.0,1.7,85700.0
3,-114.6,33.6,14.0,1501.0,337.0,515.0,226.0,3.2,73400.0
4,-114.6,33.6,20.0,1454.0,326.0,624.0,262.0,1.9,65500.0

In [63]:
add_more_features(df).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,avg_rooms_per_house,avg_persons_per_room
0,-114.3,34.2,15.0,5612.0,1283.0,1015.0,472.0,1.5,66900.0,11.9,0.2
1,-114.5,34.4,19.0,7650.0,1901.0,1129.0,463.0,1.8,80100.0,16.5,0.1
2,-114.6,33.7,17.0,720.0,174.0,333.0,117.0,1.7,85700.0,6.2,0.5
3,-114.6,33.6,14.0,1501.0,337.0,515.0,226.0,3.2,73400.0,6.6,0.3
4,-114.6,33.6,20.0,1454.0,326.0,624.0,262.0,1.9,65500.0,5.5,0.4

In [64]:
# Create pandas input function
def make_input_fn(df, num_epochs):
  return tf.estimator.inputs.pandas_input_fn(
    x = add_more_features(df),
    y = df['median_house_value']/ 100000 , # will talk about why later in the course
    batch_size = 128,
    num_epochs = num_epochs,
    shuffle = True, # bool, whether to read the records in random order.
    queue_capacity = 1000,# int, size of the read queue. If None, it will be set roughly to the size of x.
    num_threads = 1
  )


'''.
tf.estimator.inputs.pandas_input_fn()

Returns:
Function, that has signature of ()->(dict of features, target)
'''

In [65]:
# Define your feature columns
def create_feature_cols():
  return [
    tf.feature_column.numeric_column('housing_median_age'),
    tf.feature_column.bucketized_column(tf.feature_column.numeric_column('latitude'), boundaries = np.arange(32.0, 42, 1).tolist()),
    tf.feature_column.numeric_column('avg_rooms_per_house'),
    tf.feature_column.numeric_column('avg_persons_per_room'),
    tf.feature_column.numeric_column('median_income')
  ]

https://www.tensorflow.org/images/feature_columns/inputs_to_model_bridge.jpg

In [66]:
# Create estimator train and evaluate function
def train_and_evaluate(output_dir, num_train_steps):
  estimator = tf.estimator.LinearRegressor(model_dir = output_dir, feature_columns = create_feature_cols())
  train_spec = tf.estimator.TrainSpec(input_fn = make_input_fn(traindf, None), 
                                      max_steps = num_train_steps)
  eval_spec = tf.estimator.EvalSpec(input_fn = make_input_fn(evaldf, 1), 
                                    steps = None, 
                                    start_delay_secs = 1, # start evaluating after N seconds, 
                                    throttle_secs = 5)  # evaluate every N seconds
  tf.estimator.train_and_evaluate(estimator, train_spec, eval_spec)

In [67]:
# Launch tensorboard
from google.datalab.ml import TensorBoard

OUTDIR = './trained_model'
TensorBoard().start(OUTDIR)

8692

In [68]:
! ls

a_features.ipynb  dataflow  labs  taxifeateng  trained_model

In [69]:
# Run the model
shutil.rmtree(OUTDIR, ignore_errors = True)
train_and_evaluate(OUTDIR, 2000)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_log_step_count_steps': 100, '_num_ps_replicas': 0, '_task_id': 0, '_is_chief': True, '_global_id_in_cluster': 0, '_keep_checkpoint_every_n_hours': 10000, '_evaluation_master': '', '_save_checkpoints_steps': None, '_train_distribute': None, '_service': None, '_session_config': None, '_tf_random_seed': None, '_keep_checkpoint_max': 5, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fc6ddafb518>, '_model_dir': './trained_model', '_master': '', '_num_worker_replicas': 1, '_save_checkpoints_secs': 600, '_save_summary_steps': 100, '_task_type': 'worker'}

/usr/local/envs/py3env/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/envs/py3env/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

INFO:tensorflow:Running training and evaluation locally (non-distributed).
INFO:tensorflow:Start train and evaluate loop. The evaluate will happen after 5 secs (eval_spec.throttle_secs) or training is finished.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into ./trained_model/model.ckpt.
INFO:tensorflow:step = 1, loss = 709.6696
INFO:tensorflow:global_step/sec: 131.435
INFO:tensorflow:step = 101, loss = 80.22642 (0.765 sec)
INFO:tensorflow:global_step/sec: 244.137
INFO:tensorflow:step = 201, loss = 58.483025 (0.407 sec)
INFO:tensorflow:global_step/sec: 263.549
INFO:tensorflow:step = 301, loss = 99.533035 (0.379 sec)
INFO:tensorflow:global_step/sec: 266.627
INFO:tensorflow:step = 401, loss = 107.20088 (0.376 sec)
INFO:tensorflow:global_step/sec: 233.023
INFO:tensorflow:step = 501, loss = 54.7183 (0.429 sec)
INFO:tensorflow:global_step/sec: 256.729
INFO:tensorflow:step = 601, loss = 64.001335 (0.389 sec)
INFO:tensorflow:global_step/sec: 231.533
INFO:tensorflow:step = 701, loss = 45.47208 (0.431 sec)
INFO:tensorflow:global_step/sec: 242.407
INFO:tensorflow:step = 801, loss = 37.364037 (0.413 sec)
INFO:tensorflow:global_step/sec: 252.589
INFO:tensorflow:step = 901, loss = 75.56795 (0.395 sec)
INFO:tensorflow:Saving checkpoints for 948 into ./trained_model/model.ckpt.
INFO:tensorflow:Loss for final step: 53.706036.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-11-01-09:57:21
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./trained_model/model.ckpt-948
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-11-01-09:57:21
INFO:tensorflow:Saving dict for global step 948: average_loss = 0.5912234, global_step = 948, loss = 74.18759
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./trained_model/model.ckpt-948
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 949 into ./trained_model/model.ckpt.
INFO:tensorflow:step = 949, loss = 111.74726
INFO:tensorflow:global_step/sec: 129.772
INFO:tensorflow:step = 1049, loss = 81.02819 (0.775 sec)
INFO:tensorflow:global_step/sec: 250.479
INFO:tensorflow:step = 1149, loss = 67.79637 (0.398 sec)
INFO:tensorflow:global_step/sec: 255.333
INFO:tensorflow:step = 1249, loss = 59.863987 (0.392 sec)
INFO:tensorflow:global_step/sec: 228.426
INFO:tensorflow:step = 1349, loss = 49.457886 (0.437 sec)
INFO:tensorflow:global_step/sec: 260.221
INFO:tensorflow:step = 1449, loss = 74.32323 (0.385 sec)
INFO:tensorflow:global_step/sec: 239.719
INFO:tensorflow:step = 1549, loss = 86.980095 (0.417 sec)
INFO:tensorflow:global_step/sec: 255.164
INFO:tensorflow:step = 1649, loss = 87.56672 (0.392 sec)
INFO:tensorflow:global_step/sec: 259.135
INFO:tensorflow:step = 1749, loss = 87.41615 (0.386 sec)
INFO:tensorflow:global_step/sec: 233.859
INFO:tensorflow:step = 1849, loss = 86.548035 (0.427 sec)
INFO:tensorflow:Saving checkpoints for 1899 into ./trained_model/model.ckpt.
INFO:tensorflow:Loss for final step: 103.383545.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-11-01-09:57:27
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./trained_model/model.ckpt-1899
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-11-01-09:57:28
INFO:tensorflow:Saving dict for global step 1899: average_loss = 0.6478672, global_step = 1899, loss = 81.29534
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./trained_model/model.ckpt-1899
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1900 into ./trained_model/model.ckpt.
INFO:tensorflow:step = 1900, loss = 73.47178
INFO:tensorflow:global_step/sec: 123.175
INFO:tensorflow:step = 2000, loss = 72.031334 (0.817 sec)
INFO:tensorflow:Saving checkpoints for 2000 into ./trained_model/model.ckpt.
INFO:tensorflow:Loss for final step: 72.031334.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-11-01-09:57:31
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from ./trained_model/model.ckpt-2000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-11-01-09:57:31
INFO:tensorflow:Saving dict for global step 2000: average_loss = 0.61979795, global_step = 2000, loss = 77.77316